

/*
======================= Flexbox ======================
*/
.flexbox{
        background-color: aqua;
        font-size: 25px;
        /* For Box in One Line */
        display: flex;
        /*  For Responsive */
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        height: 400px;
        align-items: center;
}
.flexbox > div{
        background-color: gray;
        margin: 5px;
        padding: 9px;
}

