

/*
Before & After
*/

.pra::before{
        content: '';
        width: 100%;
        height: 20px;
        background: black;
        display: inline-block;
}
.pra::after{
        content: '';
        width: 100%;
        height: 20px;
        background: black;
        display: inline-block;
}