li{
        /* list-style: circle;
        list-style: square; 
        list-style: decimal;
        list-style: lower-roman;
        list-style: upper-alpha;
        list-style: upper-latin;
        list-style: upper-roman;
        
        */
       
        /* list-style-type: decimal-leading-zero; */
         list-style-position: inside; /*Defult Outline */
         /* list-style-image: url(../img/star.jpg); */
        
        
}
     
     
     
     